<div class="resource" *ngIf="resource && websites">
  <div class="top">
    <div class="title-wrapper">
      <span class="title">{{resource.name}}</span>
      <a [href]="resource.link" target="__blank">view oficial site</a>
    </div>
    <picture>
      <img [src]="resource.image" alt="resource-image">
    </picture>
  </div>
  <div class="main-wrapper">
    <div class="cards">
      <div class="card-resource" *ngFor="let website of websites">
        <picture>
          <img
            src="https://images.unsplash.com/photo-1657664072464-e525da1d426e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
            alt="prev-image">
        </picture>
        <div class="card-content">
          <a [routerLink]="['/website', website._id]" class="card-title">{{website.name}}</a>
          <app-rating [name]="website.name"></app-rating>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="options">
        <app-card-resources [resources]="resources" *ngIf="resources"></app-card-resources>
      </div>
    </div>
  </div>
</div>