<div class="resource" *ngIf="resource && websites">
  <div class="top">
    <div class="title-wrapper">
      <span class="title">{{resource.name}}</span>
      <a [href]="resource.link" target="__blank">view oficial site</a>
    </div>
    <picture>
      <img [src]="resource.image" alt="resource-image">
    </picture>
  </div>
  <div class="main-wrapper">
    <div class="cards">
      <div class="card-resource" *ngFor="let website of websites">
        <picture>
          <img [src]="website.image" loading="lazy" alt="prev-image">
        </picture>
        <div class="card-content">
          <a [routerLink]="['/website', website._id]" class="card-title">{{website.name}}</a>
          <app-rating [editable]="true" [name]="website.name"></app-rating>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="options">
        <app-card-resources [resources]="resources" *ngIf="resources"></app-card-resources>
      </div>
    </div>
  </div>
</div>