.rating {
  position: relative;
  display: flex;
  margin: 5px 0;
  /* flex-direction: row-reverse; */
  /* justify-content: flex-end; */
  align-items: center;
}

.rating input {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  overflow: hidden;
}

.rating input:disabled {
  cursor: default;
}

.rating input::before {
  content: "\f005";
  position: absolute;
  font-family: fontAwesome;
  font-size: 20px;
  position: absolute;
  color: #fffffe;
  transition: 0.4s;
}

.rating input.dark::before {
  color: #a5a5a5;
}

.rating input::before:disabled:checked ~ input::before:disabled:checked,
/* .rating input:disabled:checked::before ~ input::before, */
.rating input:disabled:checked::before {
  color: #9147ff;
}

.rating input:not([disabled]):hover ~ input::before,
.rating input:not([disabled]):hover::before,
.rating input:not([disabled]):checked ~ input::before,
.rating input:not([disabled]):checked::before {
  color: #9147ff;
}
