<header>
  <div class="header-wrapper">
    <div class="logo">
      <span class="title-1">Resour</span>
      <span class="title-2">center</span>
    </div>
    <div class="options">
      <div>
        <input type="checkbox" class="checkbox" id="chk" />
        <label class="label" for="chk">
          <i class="fas fa-moon"></i>
          <i class="fas fa-sun"></i>
          <div class="ball"></div>
        </label>
      </div>
      <div class="menu">
        <a class="btn btn-primary">Sign in</a>
        <a class="btn btn-primary btn-outline">Sign up</a>
      </div>
      <a class="icon" (click)="showSidenav()">
        <i class="fa fa-bars"></i>
      </a>
      <div class="menu-sidenav open" #menuSidenav>
        <div class="items">
          <a class="icon" (click)="showSidenav()">
            <i class="fa fa-xmark"></i>
          </a>
          <a class="btn btn-primary">Sign in</a>
          <a class="btn btn-primary btn-outline">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</header>