<nav class="sidebar">
  <div class="logo-details">
    <span class="logo_name">Resour</span>
    <span class="logo_name">Center</span>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/" routerLinkActive="active">
        <i class='bx bx-news'></i>
        <span class="links-name">News</span>
      </a>
      <span class="tooltip">News</span>
    </li>
    <li>
      <a routerLink="/explore" routerLinkActive="active">
        <i class='bx bx-world'></i>
        <span class="links-name">Explore</span>
      </a>
      <span class="tooltip">Explore</span>
    </li>
    <li class="mobile">
      <a routerLink="/search" routerLinkActive="active">
        <i class='bx bx-search'></i>
        <span class="links-name">Search</span>
      </a>
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a routerLink="/feed/saved" routerLinkActive="active">
        <i class='bx bx-bookmark'></i>
        <span class="links-name">Saved</span>
      </a>
      <span class="tooltip">Saved</span>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <i class='bx bx-cog'></i>
        <span class="links-name">Settings</span>
      </a>
      <span class="tooltip">Settings</span>
    </li>
  </ul>
</nav>