<div class="main-wrapper">
  <div class="resources">
    <section [id]="category.name" class="resource" *ngFor="let category of categories">
      <div class="title-wrapper">
        <span class="title-section">{{ category.name }}</span>
        <a href="" class="more">
          See all
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="cards">
        <div class="card" *ngFor="let resource of category.resources">
          <picture>
            <img
              src="https://images.unsplash.com/photo-1657664072464-e525da1d426e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
              alt="prev-image">
          </picture>
          <div class="card-content">
            <a class="card-title">{{resource.name}}
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="navigation">
    <div class="top">
      <app-card-navigation [titles]="titles"></app-card-navigation>
      <app-card-tips></app-card-tips>
    </div>
  </div>
</div>