.main-wrapper {
  display: grid;
  grid-template-columns: auto 280px;
  gap: 0.5rem;
}

.resource,
.navigation {
  padding: 0.8rem 1rem;
}

.navigation {
  opacity: 1;
}

.navigation .top {
  position: sticky;
  top: 1rem;
  z-index: 99;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-wrapper .title-section {
  font-size: 36px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 100%;
  width: 0;
}

.title-wrapper .more {
  font-weight: 400;
  color: var(--font-color-4);
  text-decoration: none;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 100%;
  max-width: 100%;
  gap: 1rem;
  margin: 1rem 0 0 0;
}

.card {
  position: relative;
  padding: 1rem;
  background: var(--bg-color-2);
  border-radius: 2rem;
  min-height: 200px;
  -webkit-transition: 0.33s ease;
  -webkit-transform: scale(1);
  -ms-transition: 0.33s ease;
  -ms-transform: scale(1);
  -moz-transition: 0.33s ease;
  -moz-transform: scale(1);
  transition: 0.33s ease-in;
  transform: scale(1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 15px #00000050;
  -webkit-transition: 0.33s ease;
  -webkit-transform: scale(1.05);
  -ms-transition: 0.33s ease;
  -ms-transform: scale(1.05);
  -moz-transition: 0.33s ease;
  -moz-transform: scale(1.05);
  transition: 0.33s ease;
}

.card picture {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.card picture img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  border-radius: inherit;
  object-fit: cover;
}

.card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0.8rem;
}

.card .card-content .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fffffe;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
}

.card .card-content .card-title:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .main-wrapper {
    grid-template-columns: 100%;
  }
  .title-wrapper .title-section {
    font-size: 28px;
  }
  .title-wrapper .more {
    font-size: 16px;
    min-width: 80px;
  }
  .navigation {
    opacity: 0;
    display: none;
  }
  .card .card-content .card-title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .title-wrapper .title-section {
    font-size: 24px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .card .card-content .card-title {
    font-size: 22px;
  }
}
